.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  padding: 20px;
  row-gap: 15px;
}

.headerNav {
  flex-basis: 33.3333%;
  display: flex;
  justify-content: center;
  gap: 28px;
}

.headerSignup {
  flex-basis: 33.3333%;
  display: flex;
  justify-content: end;
  gap: 16px;
}

.headerLink {
  line-height: 1.25;
}

.headerLink:hover,
.headerLink:focus {
  color: var(--accent-color);
}

.headerLink.active {
  border-bottom: 2px solid var(--accent-color);
}

.headerBtnIcon {
  width: 20px;
  height: 20px;
  fill: transparent;
  margin-right: 8px;

  stroke: var(--accent-color);
}

.headerBtn {
  display: flex;
  align-items: center;
  min-width: 93px;
  padding: 0;

  font-weight: 700;
  line-height: 1.25;

  background-color: transparent;
  border: 0;
}

.headerBtn:hover,
.headerBtn:focus {
  color: var(--accent-color);
}

.headerBtnIcon {
  margin-right: 8px;

  stroke: var(--accent-color);
  fill: transparent;
}

.headerBtnReg {
  min-width: 175px;
  padding: 14px 39px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  background-color: var(--primary-text-color);
  color: var(--background-color);
  border-radius: 12px;
}

.burgerButton {
  display: none;

  font-size: 1.5rem;

  color: var(--primary-text-color);
  background: none;
  border: none;

  cursor: pointer;
}

.burgerButton svg {
  fill: var(--primary-text-color);
}

@media (max-width: 1199px) {
  .headerNav,
  .headerSignup {
    display: none;
  }
  .burgerButton {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 80%;
  }
}

@media (min-width: 1440px) {
  .header {
    max-width: 1184px;
  }
  .headerNav,
  .headerSignup {
    display: flex;
  }
  .burgerButton {
    display: none;
  }
}
